In [10]:
import requests
from secret import WEATHER_KEY

d = result.json()

In [1]:
import requests
from util import get_temp

get_temp(date_temp="2023-04-01")

# url = f"https://archive-api.open-meteo.com/v1/archive?latitude={latitude}&longitude={longitude}&start_date={date_temp}&end_date={date_temp}&hourly=temperature_2m"
# response = requests.get(url)

# # time_temp_dict = dict(map(response.json()['hourly']))
# time_temp_dict = dict(zip(response.json()['hourly']['time'], response.json()['hourly']['temperature_2m']))

{'2023-04-01 00:00:00+00:00': 6.8,
 '2023-04-01 01:00:00+00:00': 7.1,
 '2023-04-01 02:00:00+00:00': 7.2,
 '2023-04-01 03:00:00+00:00': 7.2,
 '2023-04-01 04:00:00+00:00': 7.3,
 '2023-04-01 05:00:00+00:00': 7.3,
 '2023-04-01 06:00:00+00:00': 7.5,
 '2023-04-01 07:00:00+00:00': 8.5,
 '2023-04-01 08:00:00+00:00': 10.2,
 '2023-04-01 09:00:00+00:00': 11.3,
 '2023-04-01 10:00:00+00:00': 12.5,
 '2023-04-01 11:00:00+00:00': 13.2,
 '2023-04-01 12:00:00+00:00': 13.5,
 '2023-04-01 13:00:00+00:00': 13.6,
 '2023-04-01 14:00:00+00:00': 12.9,
 '2023-04-01 15:00:00+00:00': 12.3,
 '2023-04-01 16:00:00+00:00': 11.1,
 '2023-04-01 17:00:00+00:00': 9.6,
 '2023-04-01 18:00:00+00:00': 8.4,
 '2023-04-01 19:00:00+00:00': 7.7,
 '2023-04-01 20:00:00+00:00': 7.2,
 '2023-04-01 21:00:00+00:00': 6.7,
 '2023-04-01 22:00:00+00:00': 6.2,
 '2023-04-01 23:00:00+00:00': 5.8}

In [56]:
time_temp_dict = dict(map(lambda key: (key.replace("T", " ")  + ":00+00:00", time_temp_dict[key]), time_temp_dict))
time_temp_dict

{'2023-04-01 00:00:00+00:00': 6.8,
 '2023-04-01 01:00:00+00:00': 7.1,
 '2023-04-01 02:00:00+00:00': 7.2,
 '2023-04-01 03:00:00+00:00': 7.2,
 '2023-04-01 04:00:00+00:00': 7.3,
 '2023-04-01 05:00:00+00:00': 7.3,
 '2023-04-01 06:00:00+00:00': 7.5,
 '2023-04-01 07:00:00+00:00': 8.5,
 '2023-04-01 08:00:00+00:00': 10.2,
 '2023-04-01 09:00:00+00:00': 11.3,
 '2023-04-01 10:00:00+00:00': 12.5,
 '2023-04-01 11:00:00+00:00': 13.2,
 '2023-04-01 12:00:00+00:00': 13.5,
 '2023-04-01 13:00:00+00:00': 13.6,
 '2023-04-01 14:00:00+00:00': 12.9,
 '2023-04-01 15:00:00+00:00': 12.3,
 '2023-04-01 16:00:00+00:00': 11.1,
 '2023-04-01 17:00:00+00:00': 9.6,
 '2023-04-01 18:00:00+00:00': 8.4,
 '2023-04-01 19:00:00+00:00': 7.7,
 '2023-04-01 20:00:00+00:00': 7.2,
 '2023-04-01 21:00:00+00:00': 6.7,
 '2023-04-01 22:00:00+00:00': 6.2,
 '2023-04-01 23:00:00+00:00': 5.8}

In [49]:
response.json()['hourly']

{'time': ['2023-04-01T00:00',
  '2023-04-01T01:00',
  '2023-04-01T02:00',
  '2023-04-01T03:00',
  '2023-04-01T04:00',
  '2023-04-01T05:00',
  '2023-04-01T06:00',
  '2023-04-01T07:00',
  '2023-04-01T08:00',
  '2023-04-01T09:00',
  '2023-04-01T10:00',
  '2023-04-01T11:00',
  '2023-04-01T12:00',
  '2023-04-01T13:00',
  '2023-04-01T14:00',
  '2023-04-01T15:00',
  '2023-04-01T16:00',
  '2023-04-01T17:00',
  '2023-04-01T18:00',
  '2023-04-01T19:00',
  '2023-04-01T20:00',
  '2023-04-01T21:00',
  '2023-04-01T22:00',
  '2023-04-01T23:00'],
 'temperature_2m': [6.8,
  7.1,
  7.2,
  7.2,
  7.3,
  7.3,
  7.5,
  8.5,
  10.2,
  11.3,
  12.5,
  13.2,
  13.5,
  13.6,
  12.9,
  12.3,
  11.1,
  9.6,
  8.4,
  7.7,
  7.2,
  6.7,
  6.2,
  5.8]}

In [11]:
d["hourly"]

{'data': [{'date': '2023-04-20T11:00:00',
   'weather': 'mostly_cloudy',
   'icon': 5,
   'summary': 'Mostly cloudy',
   'temperature': 12.8,
   'wind': {'speed': 3.2, 'dir': 'NE', 'angle': 35},
   'cloud_cover': {'total': 68},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-20T12:00:00',
   'weather': 'partly_sunny',
   'icon': 4,
   'summary': 'Partly sunny',
   'temperature': 13.2,
   'wind': {'speed': 3.9, 'dir': 'NE', 'angle': 43},
   'cloud_cover': {'total': 48},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-20T13:00:00',
   'weather': 'partly_sunny',
   'icon': 4,
   'summary': 'Partly sunny',
   'temperature': 13.8,
   'wind': {'speed': 4.6, 'dir': 'NE', 'angle': 41},
   'cloud_cover': {'total': 59},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-20T14:00:00',
   'weather': 'overcast',
   'icon': 7,
   'summary': 'Overcast',
   'temperature': 13.8,
   'wind': {'speed': 5.9, 'dir': 'NE', 'angle': 50},
   'cloud_cover': {'total': 95},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-20T15:00:00',
   'weather': 'overcast',
   'icon': 7,
   'summary': 'Overcast',
   'temperature': 12.8,
   'wind': {'speed': 4.6, 'dir': 'NE', 'angle': 42},
   'cloud_cover': {'total': 94},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-20T16:00:00',
   'weather': 'overcast',
   'icon': 7,
   'summary': 'Overcast',
   'temperature': 13.2,
   'wind': {'speed': 5.0, 'dir': 'NE', 'angle': 37},
   'cloud_cover': {'total': 98},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-20T17:00:00',
   'weather': 'overcast',
   'icon': 7,
   'summary': 'Overcast',
   'temperature': 13.0,
   'wind': {'speed': 5.4, 'dir': 'NE', 'angle': 43},
   'cloud_cover': {'total': 94},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-20T18:00:00',
   'weather': 'overcast',
   'icon': 7,
   'summary': 'Overcast',
   'temperature': 12.5,
   'wind': {'speed': 5.4, 'dir': 'ENE', 'angle': 75},
   'cloud_cover': {'total': 93},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-20T19:00:00',
   'weather': 'overcast',
   'icon': 7,
   'summary': 'Overcast',
   'temperature': 11.8,
   'wind': {'speed': 4.0, 'dir': 'ENE', 'angle': 66},
   'cloud_cover': {'total': 100},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-20T20:00:00',
   'weather': 'overcast',
   'icon': 7,
   'summary': 'Overcast',
   'temperature': 10.8,
   'wind': {'speed': 3.8, 'dir': 'NE', 'angle': 55},
   'cloud_cover': {'total': 93},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-20T21:00:00',
   'weather': 'overcast',
   'icon': 7,
   'summary': 'Overcast',
   'temperature': 9.8,
   'wind': {'speed': 3.8, 'dir': 'NE', 'angle': 42},
   'cloud_cover': {'total': 95},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-20T22:00:00',
   'weather': 'overcast',
   'icon': 7,
   'summary': 'Overcast',
   'temperature': 9.2,
   'wind': {'speed': 3.5, 'dir': 'ENE', 'angle': 57},
   'cloud_cover': {'total': 93},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-20T23:00:00',
   'weather': 'mostly_cloudy',
   'icon': 29,
   'summary': 'Mostly cloudy',
   'temperature': 9.0,
   'wind': {'speed': 1.9, 'dir': 'ENE', 'angle': 58},
   'cloud_cover': {'total': 76},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-21T00:00:00',
   'weather': 'mostly_cloudy',
   'icon': 29,
   'summary': 'Mostly cloudy',
   'temperature': 8.5,
   'wind': {'speed': 1.6, 'dir': 'NNE', 'angle': 22},
   'cloud_cover': {'total': 76},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-21T01:00:00',
   'weather': 'cloudy',
   'icon': 30,
   'summary': 'Cloudy',
   'temperature': 7.5,
   'wind': {'speed': 2.0, 'dir': 'N', 'angle': 359},
   'cloud_cover': {'total': 83},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-21T02:00:00',
   'weather': 'cloudy',
   'icon': 30,
   'summary': 'Cloudy',
   'temperature': 7.0,
   'wind': {'speed': 2.0, 'dir': 'N', 'angle': 6},
   'cloud_cover': {'total': 82},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-21T03:00:00',
   'weather': 'mostly_cloudy',
   'icon': 29,
   'summary': 'Mostly cloudy',
   'temperature': 6.8,
   'wind': {'speed': 2.3, 'dir': 'NNE', 'angle': 14},
   'cloud_cover': {'total': 73},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-21T04:00:00',
   'weather': 'partly_clear',
   'icon': 28,
   'summary': 'Partly clear',
   'temperature': 6.8,
   'wind': {'speed': 2.5, 'dir': 'NNE', 'angle': 19},
   'cloud_cover': {'total': 47},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-21T05:00:00',
   'weather': 'partly_clear',
   'icon': 28,
   'summary': 'Partly clear',
   'temperature': 6.5,
   'wind': {'speed': 2.6, 'dir': 'N', 'angle': 9},
   'cloud_cover': {'total': 35},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-21T06:00:00',
   'weather': 'sunny',
   'icon': 2,
   'summary': 'Sunny',
   'temperature': 6.2,
   'wind': {'speed': 2.8, 'dir': 'NNE', 'angle': 12},
   'cloud_cover': {'total': 10},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-21T07:00:00',
   'weather': 'sunny',
   'icon': 2,
   'summary': 'Sunny',
   'temperature': 6.0,
   'wind': {'speed': 2.8, 'dir': 'NNE', 'angle': 14},
   'cloud_cover': {'total': 3},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-21T08:00:00',
   'weather': 'sunny',
   'icon': 2,
   'summary': 'Sunny',
   'temperature': 6.8,
   'wind': {'speed': 3.1, 'dir': 'NNE', 'angle': 18},
   'cloud_cover': {'total': 3},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-21T09:00:00',
   'weather': 'sunny',
   'icon': 2,
   'summary': 'Sunny',
   'temperature': 8.2,
   'wind': {'speed': 4.1, 'dir': 'NNE', 'angle': 26},
   'cloud_cover': {'total': 4},
   'precipitation': {'total': 0.0, 'type': 'none'}},
  {'date': '2023-04-21T10:00:00',
   'weather': 'sunny',
   'icon': 2,
   'summary': 'Sunny',
   'temperature': 9.8,
   'wind': {'speed': 4.4, 'dir': 'NNE', 'angle': 28},
   'cloud_cover': {'total': 7},
   'precipitation': {'total': 0.0, 'type': 'none'}}]}

In [35]:
from data.data import get_all_rooms
df = get_all_rooms("data-bms")
df = df.set_index(["room_id", "time"])
df

,,valve,temp_act,temp_target,presence,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
room_id,time,,,,,,,,,,,,,,,
52,2022-12-23 14:00:00,20.0,22.9,23.0,30.0,7.4,5.6,88.0,0.0,NaN,230.0,14.0,NaN,1010.2,NaN,3.0
522,2022-12-23 14:00:00,20.0,20.1,23.0,30.0,7.4,5.6,88.0,0.0,NaN,230.0,14.0,NaN,1010.2,NaN,3.0
524,2022-12-23 14:00:00,20.0,21.0,21.0,0.0,7.4,5.6,88.0,0.0,NaN,230.0,14.0,NaN,1010.2,NaN,3.0
52,2022-12-23 15:00:00,20.0,22.7,23.0,30.0,7.1,5.6,90.0,0.0,NaN,226.0,13.3,NaN,1010.2,NaN,3.0
522,2022-12-23 15:00:00,20.0,20.2,23.0,30.0,7.1,5.6,90.0,0.0,NaN,226.0,13.3,NaN,1010.2,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,2023-01-03 19:00:00,18.0,21.3,21.0,0.0,6.5,5.5,93.0,0.0,NaN,284.0,15.5,NaN,1028.5,NaN,3.0
52,2023-01-03 20:00:00,18.0,22.2,21.0,0.0,6.4,5.1,91.0,0.0,NaN,290.0,15.1,NaN,1028.7,NaN,3.0
522,2023-01-03 20:00:00,20.0,20.7,21.0,0.0,6.4,5.1,91.0,0.0,NaN,290.0,15.1,NaN,1028.7,NaN,3.0
524,2023-01-03 20:00:00,18.0,21.1,21.0,0.0,6.4,5.1,91.0,0.0,NaN,290.0,15.1,NaN,1028.7,NaN,3.0
520,2023-01-03 20:00:00,20.0,21.0,21.0,0.0,6.4,5.1,91.0,0.0,NaN,290.0,15.1,NaN,1028.7,NaN,3.0

In [22]:
p1 = df[df.valve == 20]
p1["diff"] = p1.temp_target - p1.temp_act
p1["diff"].mean()

/var/folders/fz/vff1xm2n6d3_nqh_0k228r9h0000gp/T/ipykernel_6083/4078926091.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p1["diff"] = p1.temp_target - p1.temp_act

0.8614305750350632

In [23]:
p2 = df[df.valve == 18]
p2["diff"] = p2.temp_target - p2.temp_act
p2["diff"].mean()

/var/folders/fz/vff1xm2n6d3_nqh_0k228r9h0000gp/T/ipykernel_6083/1662017350.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p2["diff"] = p2.temp_target - p2.temp_act

-0.439449541284404

In [24]:
p3 = df[df.valve == 17]
p3["diff"] = p3.temp_target - p3.temp_act
p3["diff"].mean()

/var/folders/fz/vff1xm2n6d3_nqh_0k228r9h0000gp/T/ipykernel_6083/777552218.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p3["diff"] = p3.temp_target - p3.temp_act

-0.5164473684210528

In [27]:
import pandas as pd

def nextHour(current):
  return pd.date_range(start=current, periods=2, freq="H")[1]

In [34]:
valve_effectiveness(20, 21)

,time,valve,temp_act,temp_target,presence,room_id,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
2,2022-12-23 14:00:00,20.0,21.0,21.0,0.0,524,7.4,5.6,88.0,0.0,NaN,230.0,14.0,NaN,1010.2,NaN,3.0
9,2022-12-23 16:00:00,20.0,21.3,23.0,30.0,524,6.9,5.4,90.0,0.1,NaN,216.0,14.0,NaN,1009.9,NaN,7.0
10,2022-12-23 16:00:00,20.0,20.7,21.0,0.0,520,6.9,5.4,90.0,0.1,NaN,216.0,14.0,NaN,1009.9,NaN,7.0
13,2022-12-23 17:00:00,20.0,21.4,23.0,6.0,524,6.6,5.6,93.0,0.4,NaN,211.0,12.6,NaN,1009.9,NaN,8.0
14,2022-12-23 17:00:00,20.0,20.5,21.0,0.0,520,6.6,5.6,93.0,0.4,NaN,211.0,12.6,NaN,1009.9,NaN,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1072,2023-01-03 18:00:00,20.0,20.6,21.0,0.0,522,6.7,5.7,93.0,0.0,NaN,280.0,15.1,NaN,1028.1,NaN,3.0
1076,2023-01-03 19:00:00,20.0,21.0,21.0,0.0,522,6.5,5.5,93.0,0.0,NaN,284.0,15.5,NaN,1028.5,NaN,3.0
1077,2023-01-03 19:00:00,20.0,20.9,21.0,0.0,524,6.5,5.5,93.0,0.0,NaN,284.0,15.5,NaN,1028.5,NaN,3.0
1080,2023-01-03 20:00:00,20.0,20.7,21.0,0.0,522,6.4,5.1,91.0,0.0,NaN,290.0,15.1,NaN,1028.7,NaN,3.0
1082,2023-01-03 20:00:00,20.0,21.0,21.0,0.0,520,6.4,5.1,91.0,0.0,NaN,290.0,15.1,NaN,1028.7,NaN,3.0

In [37]:
from data_process import get_all_rooms
get_all_rooms("data-bms")

,time,valve,temp_act,temp_target,presence,room_id,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
0,2022-12-23 14:00:00,20.0,22.9,23.0,30.0,52,7.4,5.6,88.0,0.0,NaN,230.0,14.0,NaN,1010.2,NaN,3.0
1,2022-12-23 14:00:00,20.0,20.1,23.0,30.0,522,7.4,5.6,88.0,0.0,NaN,230.0,14.0,NaN,1010.2,NaN,3.0
2,2022-12-23 14:00:00,20.0,21.0,21.0,0.0,524,7.4,5.6,88.0,0.0,NaN,230.0,14.0,NaN,1010.2,NaN,3.0
3,2022-12-23 15:00:00,20.0,22.7,23.0,30.0,52,7.1,5.6,90.0,0.0,NaN,226.0,13.3,NaN,1010.2,NaN,3.0
4,2022-12-23 15:00:00,20.0,20.2,23.0,30.0,522,7.1,5.6,90.0,0.0,NaN,226.0,13.3,NaN,1010.2,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1078,2023-01-03 19:00:00,18.0,21.3,21.0,0.0,520,6.5,5.5,93.0,0.0,NaN,284.0,15.5,NaN,1028.5,NaN,3.0
1079,2023-01-03 20:00:00,18.0,22.2,21.0,0.0,52,6.4,5.1,91.0,0.0,NaN,290.0,15.1,NaN,1028.7,NaN,3.0
1080,2023-01-03 20:00:00,20.0,20.7,21.0,0.0,522,6.4,5.1,91.0,0.0,NaN,290.0,15.1,NaN,1028.7,NaN,3.0
1081,2023-01-03 20:00:00,18.0,21.1,21.0,0.0,524,6.4,5.1,91.0,0.0,NaN,290.0,15.1,NaN,1028.7,NaN,3.0
1082,2023-01-03 20:00:00,20.0,21.0,21.0,0.0,520,6.4,5.1,91.0,0.0,NaN,290.0,15.1,NaN,1028.7,NaN,3.0